.range {
    background-color: rgba(8, 80,214, 0.644);
    height: var(--progress-bar-height);
    width: 100%;
    cursor: pointer;
    opacity: 1;
    margin: 0 auto;
    -webkit-appearance: none
}

.slider-container {
    --progress-bar-height: 4px;
    --thumb-width: 20px;
    --thunb-height: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.slider-container::before {
    content: '';
    background-color: #fff;
    width: 99%;
    height: var(--progress-bar-height);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: var(--thunb-height);
    background: #ee06bc;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}

.thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 3;
    top: 50%;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.725);    
    transform: translate(0%, -50%);
    user-select: none;
    background: rgb(225, 225, 225);
    pointer-events: none;
}

.progress-bar-cover {
    background-color: rgb(218, 55, 145);
    width: 20%;
    display: block;
    position: absolute;
    border-radius: 10px;
    transform: translateY(-50%);
    z-index: 1;
    user-select: none;
    pointer-events: none;
    height: var(--progress-bar-height);
    position: absolute;
    top: 40%
}