* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #DDD;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    display: block;
    background-color: #313131;
    padding: 50px;
    border-radius: 16px;
    box-shadow: inset-6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(225, 225, 225, 0.4);
}

.player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.player > p {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.player-details .details-img {
    position: relative;
    width: fit-content;
    margin: 50px auto;
    
}

.player-details .details-img  {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset -6px -6px  8px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(225, 225, 225, 0.4);
}

.player-details .details-title {
    color: #EEE;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(225, 225, 225, 0.4);
    text-align: center;
    margin-bottom: 10px;
}

.player-details .details-artist {
    color: #AAA;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(225, 225, 225, 0.4);
    text-align: center;
    margin-bottom: 20px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    box-shadow:
        4px 4px 10px rgba(0, 0, 0, 0.8),
        -4px -4px 10px rgba(225, 225, 225, 0.4),
        inset -4px -4px 10px rgba(0, 0, 0, 0.4),
        inset 4px 4px 10px rgba(225, 225, 225, 0.4);
    border: none;
    outline: none;
    background-color: #FFCE00;
    color: #FFF ;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.player-controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.roll{
    animation: turn 10s infinite;
}

@keyframes turn {
    
    100%{
        transform: rotate(360deg);
    }
}